#message
{
    color: #fff;
    background: #fb246a;
    position: fixed;
    width: 40%;
    left: 30%;
    text-align: center;
    top: 20%;
    padding: 12px;
    border-radius: 30px;
    z-index: 10;
    display: none;
}

#user-dropdown {
    color: #000;
}

.form-select .nice-select .list
{
    overflow: scroll;
    max-height: 50vh;
}

.already_applied, .apply_employer
{
    font-weight: bold;
    font-size: 1.1em;
}

.apply_employer
{
    color: #fb246a;

}
.already_applied 
{
    color: #22cd22;
}
form.search-box .select-form {
    padding: 8px 4px 9px 20px;
    border-color: white;
}
form.search-box .select-form {
    height: 70px;
    width: 34%;
    color: #777777;
    font-size: 18px;
    font-weight: 400;
    padding: 9px 33px 9px 32px;
    border: none;
    border-radius: 0px;
    position: relative;
    border: none;
}

form.search-box .select-form:target,
form.search-box .select-form:focus-visible {
    border-color: red;
}